
body{
  margin: 0px ;
  background-color: #121212;
  font-family: Arial Black;
}
img{
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.topbar{
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #1E1F25;
}
.list{
  width: 100%;
  height: 30px;
  display: flex;
  background-color: #121212;
  line-height: 100px;
}
.page a{
  font-size: 15px;
  margin-left: 30px;
  color: #767C8D;
  text-decoration: none;
}
.page{
  /*background-color: blue;*/
  width: 35%;
  height: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.page a:hover {
    color: white;
}
/*.contact{
  background-color: white;
  width: 60%;
  height: 60px;
  margin-left: 150px;
  margin-top: 0px; 
}*/
.contact_detail{
  background-color: #1E1F25;
  border: 1px #3C4254 solid;
  width: 8%;
  height: 100%;
  margin-left: 2%;
  margin-top: 7px;
  display: inline-block;
  border-radius:10px
}
.chart{
  /*display: inline-block;*/
  display: flex;
}
.whalse{
  background-color: #121212;
  width: 60%;
  height: 680px;
  display: inline-block;
}
.whalse_detail{
  background-color: #121212;
  width: 40%;
  height: 680px;
  display: inline-block;
}
.bar{
  background-color: #121212;
  width: 100%;
  height: 340px;
}
.headerTab .tabLine { 
  position:absolute; 
  /*top:66px; */
  height:2px; 
  background:#35b0f2; 
  left:0; width:100%; 
  overflow:hidden; 
  font-size:0; 
  line-height:0;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.banner{
  height: 80px;
  width: 100%;
  background-color: #121212;
  color: #767C8D;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.intro{
  height: 400px;
  width: 100%;
  display: flex;
}

.intro_detail{
  /*background-color: blue;*/
  height: 85%;
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.intro_detail h1{
  display:inline;
  color: white;
  font-family: MS Sans Serif;
}
.intro_detail h2{
  display:inline;
  color: white;
  font-family: MS Sans Serif;
  font-weight: 200;
}

.intro_detail h4{
  color: #215277;
  font-family: MS Sans Serif;
  font-weight: 200;
  line-height: 30px;
}

.intro_detail button{
  background-color: #121212;
  border: 1px #215277 solid;
  color: #215277;
  width: 40%;
  height: 10%;
  display: inline-block;
  font-size: 15px;
  /*border-radius:10px*/
}

.intro_picture{
  background-color: white;
  height: 100%;
  width: 60%;
  display: inline-block;
}

.foot{
  width: 100%;
  height: 100px;
}